@import "../../styles/variables";
@import "../../styles/mixins";

.users {
  margin-bottom: 140px;

  & .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    max-width: 1170px;

    @include desktop {
      padding: 0 60px
    }

    @include tablet {
      padding: 0 32px
    }

    @include mobile {
      padding: 0 16px
    }

    & .title{
      min-width: 250px;
      text-align: center;
      font-size: 40px;
      line-height: 40px;
      color: $text-color;
      margin-bottom: 50px;
    }

    & .cards {
      width: 100%;
      display: grid;
      grid-template-columns: repeat(auto-fill,minmax(328px, 1fr));
      gap: 29px;
      justify-content: center;
      margin-bottom: 50px;
    }
  }
}