@import "../../styles/variables";
@import "../../styles/mixins";

.header {
  background: #ffffff;

  & .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    padding: 13px 0;
    max-width: 1170px;

    @include desktop {
      padding-left: 60px;
      padding-right: 60px;
      max-width: 904px;
    }

    @include tablet {
      padding-left: 32px;
      padding-right: 32px;
    }

    @include mobile {
      padding-left: 16px;
      padding-right: 16px;
    }
  }

  & .buttons {
    display: flex;
    gap: 10px;
  }
}