@import "../src/styles/variables";

html,
body {
  height: 100%;
  padding: 0;
  margin: 0;
  font-family: $primary-font;
  font-weight: 400;
  background: $background;
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

* {
  box-sizing: border-box;
}


